.button.pink {
  border: none;
  color: #fff;
  border-color: transparent;
  background-color: #f88eb2;
  font-family: Arial;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
}

.post-toc ul li {
  list-style: none;
}

.toc {
  overflow-y: auto;
}

.post-toc>.toc-list {
  overflow: hidden;
  position: relative;
}

.toc>.toc-list li {
  list-style: none;
}

.toc-list {
  margin: 0;
  padding-left: 10px;
}

a.toc-link {
  /*color: currentColor;*/
  height: 100%;
}

.is-collapsible,
.post-toc ul li[class=""] {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

/*.is-collapsed,.post-toc ul li[class=''] {max-height: 0;}*/
.is-position-fixed {
  position: fixed !important;
  top: 0;
}

.is-active-link,
.has-active {
  font-weight: 700;
}

.toc-link::before {
  background-color: #eee;
  content: "";
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}

.is-active-link::before,
.has-active::before {
  background-color: #54bc4b;
}

/*友链 */
/*.friends {border-color: transparent !important;}*/
a.friends .card {
  max-width: 254px !important;
  min-width: 210px;
}

/* one */
@media screen and (max-width: 512px) {

  body a.friends,
  body a.friends .card {
    max-width: 100vw !important;
    width: calc(100% - 15px) !important;
    /* max-width: 100% !important; */
  }

  body a.friends .card img {
    margin-right: 33px !important;
  }

  body a.friends .right h3 {
    font-size: 16px !important;
    font-weight: 700;
    margin-bottom: 12px;

  }
}

/* two */
@media screen and (max-width: 900px) {

  a.friends,
  a.friends .card {
    max-width: 100vw !important;
    width: calc(100%/2 - 45px) !important;
    /* max-width: 100% !important; */
  }
}

/* three columns */
@media screen and (max-width: 100vw) {
  a.friends {
    margin-right: 12px;
  }

  a.friends,
  a.friends .card {
    width: calc(100%/3 - 45px);
  }
}

a.friends {
  display: inline-block;
  text-decoration: none !important;
  border: none;
  margin-left: 12px;
  margin-top: 16px;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent !important;
  /*margin-bottom: 0px;*/
  border-radius: 10px;
  transition: 0.8s all;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%);
  /* box-shadow: -1px 1px 20px 0px rgba(17, 95, 173, 0.15); */
  min-width: 104px;
  max-width: 254px;

}

a.friends:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0.14, 0.08);
  /*transition: 1s;*/
  transform: translateY(-2px);
}

a.friends .card {
  float: left;
}

a.friends:hover {
  /*position: absolute !important;*/
  text-decoration: none !important;
  /*margin-bottom: 2px;*/
}

a.friends:link {
  text-decoration: none;
}

a.friends:active {
  text-decoration: none !important;
}

a.friends:visited {
  text-decoration: none;
}

.post .post-content a {
  word-break: break-word !important;
}

.friends .card img {
  height: 80px;
  max-width: 80px;
  display: inline;
  /*max-height: 128px;*/
  border-radius: 4px;
}

/*友人帐自定义样式 */
.friends .card {
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  height: auto;
  position: relative;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  transition: 0.6s;
  padding: 12px;
  display: flex;
  max-width: 180px;
  flex-shrink: 0;
  /*防止被压缩*/
  /*transform: translateY(1px);*/
  border-color: transparent !important;
}

.friends .card h3 {
  margin: 2px;
  font-size: 13px;
}

.friends .card .right {
  width: 90px;
  max-width: 120px;
  padding-left: 12px;
  /*text-align: center/;*/
}

.friends .card .right div {
  font-size: 13px;
}

body .post img {
  cursor: pointer;
}

/*gitalk 样式修改 */
/*gitalk.css | https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css */
.gt-container .gt-btn {
  /*border: 1px solid #6190e8;*/
  /*background-color: #6190e8;*/
  border: 1px solid #f88eb2 !important;
  background-color: #f88eb2 !important;
}

.gt-container .gt-btn:active {
  background-color: #f84d8a !important;
  border-color: #f84d8a !important;
}

.gt-container .gt-btn-preview {
  /*color: #6190e8;*/
  color: white !important;
}

.gt-container .gt-header-controls-tip {
  /*color: #6190e8;*/
  color: #f88eb2 !important;
}

.gt-container a:hover {
  /*color: #81a6ed;*/
  /*border-color: #81a6ed;*/
  color: #f88eb2 !important;
  border-color: #f88eb2 !important;
}

.gt-container .gt-link {
  /*border-bottom: 1px dotted #6190e8;*/
  border-bottom: 1px dotted #f88eb2 !important;
}

.gt-container a {
  /*color: #6190e8;*/
  color: #f88eb2 !important;
}

.gt-container .gt-popup .gt-action.is--active::before {
  /*background: #6190e8;*/
  background: #f88eb2 !important;
}

.gt-container .gt-btn-preview:hover {
  /*border-color: #81a6ed;*/
  border-color: #f88eb2 !important;
}

.gt-container .gt-user .is--poping .gt-ico svg {
  /*fill: #6190e8;*/
  fill: #f88eb2 !important;
}

.gt-container .gt-btn-public:hover {
  /*background-color: #81a6ed;*/
  /*border-color: #81a6ed;*/
  background-color: #f88eb2 !important;
  border-color: #f88eb2 !important;
}

.gt-container .gt-comment-username {
  /*color: #6190e8;*/
  color: #f88eb2 !important;
}

body {
  scrollbar-color: #f88eb2 #f88eb2;
  scrollbar-width: thin;
  /*设置透明背景 */
  opacity: 0.95;
  background: #fff;
  overflow-x: hidden;
}

.back-to-top {
  color: white;
}

#globalbg {
  opacity: 0.85;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -2;
  position: fixed;
  /* background: url(/asserts/background.jpg); */
  /* background: url(/asserts/background.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: #f2f2f2;

  
}

body #mobile-panel {
  opacity: 0.97;
}

/*修改滚动条 */
::-webkit-scrollbar {
  width: 6px;
  max-height: 3px;
  /*height: 5px;*/
}

::-webkit-scrollbar-thumb {
  /*滑块部分；*/
  border-radius: 2rem;
  background: hsl(180deg, 100%, 50%) 50%;
  -webkit-box-shadow: none;
  /*min-height: 29px;*/
  max-height: 29px;
}

::-webkit-scrollbar-track {
  /*轨道部分*/
  width: 6px;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
}

/*selections */
body #main div.content-wrapper ::selection {
  background-color: #cce2ff !important;
  color: rgba(255, 255, 255, 0.97);
}

body #main .post-toc {
  /*background-color: white;*/
  transition: all 600ms ease-in-out;
}



body #main .post li.has-active a.active {
  /* font-weight: bold; */
  color: blueviolet;
}

/*body::-webkit-scrollbar {width: 3px;background: linear-gradient( to bottom, hsl(0deg, 100%, 50%, 0.4) 0%, hsl(40deg, 100%, 50%) 20%, hsl(80deg, 100%, 50%) 30%, hsl(120deg, 100%, 50%) 40%, hsl(180deg, 100%, 50%) 50%, hsl(250deg, 100%, 50%) 80%, hsl(320deg, 100%, 50%, 0.4) 100% );border-radius: 4px;}body::-webkit-scrollbar-thumb {background: linear-gradient( to bottom, hsl(0deg, 100%, 50%, 0) 0%, hsl(0deg, 100%, 100%, 0.9) 20%, hsl(0deg, 100%, 100%, 0.9) 80%, hsl(0deg, 100%, 50%, 0) 100% );border-radius: 100%;}*/
/*下面添加 copy按钮 */
.highlight-wrapper {
  display: block;
}

.highlight {
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}

.highlight>.chroma {
  color: #d0d0d0;
  background-color: #212121;
  position: static;
  z-index: 1;
  border-radius: 4px;
  /*padding: 10px;*/
}

.chroma {
  overflow: auto;
}

.chroma .lntable {
  display: table;
  width: 100%;
  padding: 0 0 5px;
  margin: 0;
  border-spacing: 0;
  border: 0;
  overflow: auto;
}

.chroma .lntd:first-child {
  padding: 7px 7px 7px 10px;
  margin: 0;
}

.chroma .lntd:last-child {
  padding: 7px 10px 7px 7px;
  margin: 0;
}

.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  width: 65px;
  color: #232326;
  background-color: #7f7f7f;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  white-space: nowrap;
  padding: 4px 4px 5px 4px;
  margin: 0 0 0 1px;
  cursor: pointer;
  opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: #eee;
  background-color: #b3b3b3;
  opacity: 0.8;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: 0.01;
}

/* 双链 */
body p a.doubleLink,
a.doubleLink:hover,
a.doubleLink:active {
  color: #9ef24a !important;
  text-decoration: none;
  border-color: #9ef24a !important;
  /* border-bottom: 1px solid #9ef24a; */
}




body.dark-theme,
body.dark-theme p,
.dark-theme #main,
.dark-theme div.container,
.dark-theme table,
.dark-theme tr,
.dark-theme .post-toc,
.dark-theme .chroma,
.dark-theme pre,
.dark-theme code {
  background-color: #181c27 !important;
  color: rgba(255, 255, 255, 0.65) !important;
}

body.dark-theme a {
  color: #c1bcbc;
}
body.dark-theme .highlight .chroma tbody{
  border-bottom: 1px solid;  
}
/* 文字高亮 */
.hightlight_text {
  background-color: rgb(255, 255, 0);
}
body.dark-theme p span.hightlight_text {
  background-color: rgb(46 43 222);
}

/* theme */

#BR_cornner {
  bottom: 0px;
  right: 0px;
  position: fixed;
  width: 17vw;
  height: 45vh;
  /* opacity: 0; */

}

/* 播放器 */
.dark-theme  .aplayer.aplayer-withlist .aplayer-list  {
  color:black;
}
.dark-theme #globalbg  {
  opacity: 0.35;
}
body #darkThemeBtn {
  border: 1px solid transparent;
  border-radius: 12px;
  display: inline-block;
  width: 24px;
  text-align: center;
  color: white;
  background-color: #181c27;
  position: fixed;
  bottom: 60px;
  right: 15px;
  cursor: pointer;
  opacity: 0.58;
  transition: all 0.6s ease-out;
}

#darkThemeBtn.hide {
  right: -26px;
}

.dark-theme #darkThemeBtn {
  color: black;
  background-color: white;

}