.button.pink {
  border: none;
  color: #fff;
  border-color: transparent;
  background-color: #f88eb2;
  font-family: Arial;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
}

.post-toc ul li {
  list-style: none;
}

.toc {
  overflow-y: auto;
}
.post-toc > .toc-list {
  overflow: hidden;
  position: relative;
}
.toc > .toc-list li {
  list-style: none;
}
.toc-list {
  margin: 0;
  padding-left: 10px;
}
a.toc-link {
  /* color: currentColor; */
  height: 100%;
}
.is-collapsible,
.post-toc ul li[class=""] {
  max-height: 1000px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
/* .is-collapsed,.post-toc ul li[class=''] {
  max-height: 0;
} */
.is-position-fixed {
  position: fixed !important;
  top: 0;
}
.is-active-link,
.has-active {
  font-weight: 700;
}
.toc-link::before {
  background-color: #eee;
  content: "";
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}
.is-active-link::before {
  background-color: #54bc4b;
}

a.friends {
  display: inline-block;
  text-decoration: none;
}
.friends .card img {
  height: 80px;
  max-width: 80px;

  display: inline;
  /* max-height: 128px; */
  border-radius: 4px;
  

}
/* 友人帐自定义样式 */
.friends .card {
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  height: auto; 
  position: relative;
  box-shadow: 0 1px 0px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 12px;
  display: flex;
  max-width: 180px;
  flex-shrink: 0;/*防止被压缩*/
}
.card h3 {
  margin: 2px;
}
.friends .card .right {
  width: 90px;
  max-width: 120px;
  padding-left: 12px;
  /* text-align: center/; */
}